.container {
  border: 1px solid violet;
  width: 845px;
  height: 363px;
  position: relative;
  top: 20px;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  .box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    background-color: #fff;

    &.red {
      background-color: red;
      transition: background-color 0.5s;

    }

    &.yellow {
      background-color: rgb(148, 234, 20);
      transition: background-color 0.5s;

    }

    &.green {
      background-color: rgb(18, 197, 59);
      transition: background-color 0.5s;

    }

    &.blue {
      background-color: rgb(2, 20, 27);
      transition: background-color 0.5s;

    }

    &.violet {
      background-color: violet;
      transition: background-color 0.5s;

    }

    &.pink {
      background-color: pink;
      transition: background-color 0.5s;

    }

    &.gray {
      background-color: gray;
      transition: background-color 0.5s;

    }

    &.black {
      background-color: rgb(9, 7, 7);
      transition: background-color 0.5s;

    }

  }

}

.container1 {
  border: 1px solid violet;
  width: 185px;
  height: 33px;
  position: relative;
  top: 30px;

  left: 50%;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  h2 {
    text-align: center;
  }


}
.disabled {
  opacity: 0.5; /* Example: reduce opacity to visually indicate disabled state */
  pointer-events: none; /* Example: disable pointer events to prevent interaction */
}

